*~
Debug.win32
Release.win32
Debug
Release
runtime
*.sdf
*.suo
*.opensdf
Pokemon.v11.suo
~*
save.data
.DS_Store
*.mode1
*.mode1v3
*.mode2v3
*.pbxuser
*.perspective
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
xcuserdatad/
*.xcclassmodel/
DerivedData/
